:80

log stdout

errors stdout

basicauth / ${WEBDAV_USERNAME} ${WEBDAV_PASSWORD}
filemanager / {
    webdav /webdav
    block /
    allow_commands false
    ${WEBDAV_USERNAME}:
        allow /
        allow_commands true
}